
#chart {
  background-color: grey;
}

p {
  width: 800px;
  padding: 10px;
}

.circle {
  background-color: green;
  color: green;
}

.hover {
  visibility: hidden;
  position: absolute;
  padding: 10px;
  color: white ;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  font: 12px helvetica;
}
