body {
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  flex-direction: column;
  font-family: helvetica;
  background-image: url('background.jpg');
}

h1 {
  text-align: center;
  /*background-color: black;*/
  border-radius: 8px;
  width: 1000px;
  color: white;
  margin-bottom: 10px;
  margin-top: 25px;
}

#chart {
  background-color: grey;
  background: url('http://images.wisegeek.com/red-curtains-in-movie-theater.jpg');
}

ul {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 20px;
  width: 960px;
  border-radius: 8px;
  list-style: none;
}

.circle {
  background-color: green;
  color: green;
}

.hover {
  visibility: hidden;
  position: absolute;
  padding: 10px;
  color: white ;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  font: 16px helvetica;
}

.active {
  stroke: #16ff26;
  stroke-width: 3px;
}
