body {
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  flex-direction: column;
  background-color: black;
  font-family: helvetica;
  background-image: url('background.jpg');
}

h1 {
  text-align: center;
  background-color: grey;
  width: 1000px;
}

#chart {
  background-color: grey;
  background-image: url('http://images.wisegeek.com/red-curtains-in-movie-theater.jpg');
}

p {
  background-color: grey;
  text-align: center;
  padding: 20px;
  width: 960px;
}

.circle {
  background-color: green;
  color: green;
}

.hover {
  visibility: hidden;
  position: absolute;
  padding: 10px;
  color: white ;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  font: 12px helvetica;
}

.active {
  stroke: #42f477;
  stroke-width: 3px;
}
